@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

.form-selector .option{
  font-size:1.2em;
  opacity:.2;
}

.form-selector .option.selected{
  font-weight:bold;
  opacity:1;
}

#auth-forms{
  background:$black;

  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);


  color:#ffffff;

  input{
    color:#000;
  }

  label{
    color:$white;
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #000;
  }
  :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color:    #000;
  }


  @include breakpoint(small down){
    padding:1em 0;
    border-radius:0;
    margin:0;
  }
}

input:checked ~ .switch-paddle {
  background: $third-color;
}

.switch-paddle{
  background: $primary-color;
}
